body {
  background: #222;
  color: white;
  font-family: Arial;
  text-align: center;
}

#app {
  width: 360px;
  margin: auto;
  margin-top: 40px;
  background: #333;
  padding: 20px;
  border-radius: 15px;
}

input, select, button {
  padding: 10px;
  margin: 5px;
  border-radius: 10px;
  border: none;
}

.hidden {
  display: none;
}

canvas {
  background: white;
  border-radius: 10px;
  margin-top: 10px;
}
